.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.HeaderNav{
  padding:20px; 
  padding-Top:50px;
  padding-Bottom:30px;
  font-Size:22px;
}
.img1{
  width:90%;
  height:75vh;
  background-image: url(C:\Users\Shikha\Desktop\web development 1\Projects\FrontendProjects\portfolio\src\components\photo.png);
  background-size:cover;
  background-position:center;
  border-radius:50%;  
  border:5px  solid white
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{ 
  width: 50%;                               
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block
}
.ExperianceUl{
  color: white;
  font-size: 15px;
}
.skills{
  font-size:20px;
}
